include ./components/header.pug
div.ui.container
   
    //- img(src="/static/img/kimcheng.jpg", alt="", srcset="")

    ul
        each val in data
            li= val.username  +' - '+ val.role

    <button class="ui facebook button">
    <i class="facebook icon"></i>  Facebook
    </button>

    <div class="ui label">
    <i class="mail icon"></i> 23
    </div>
    



include ./components/footer.pug