include ../components/header.pug
div.ui.container
    br
    h2 Login
    <form class="ui form" action="/login/mvc" method="GET">
    <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="Password" name="password" placeholder="Password">
    </div>
    <div class="field">
        <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
        </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
    </form>


include ../components/footer.pug